label, input, textarea {
    font-size: 16px;
}

label {
    display: block;
    margin-bottom: 8px;
}

input, textarea {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    border-radius: 4px;
    border: 1px solid #ccc;
}

#fullName, #fullFirstname, #fullEmail, #fullComment, #submit {
    margin-bottom: 16px;
}

#submit {
    background-color: #333;
    color: #fff;
    padding: 8px 16px;
    border-radius: 4px;
    border: none;
    cursor: pointer;
}
